*{
	margin: 0px;
	padding: 0px;
}
nav{
	background: #353535;
}
img{
	margin-left: 20px;
	fill: white;
	width: 30px;
	height: 30px;

}
.right{
	float: right;
}
.header{
	background-color: #39b3e6;
	position: relative;
}
.header .logo{
	width: 130px;
	height: 140px;
	margin-top: 20px;
	margin-left: 30px;
	display: inline-block;
}
.nav{
	float: right;
	margin-top: 50px;
}
.menu ul li{
	float: left;
	list-style: none;
	margin-left: 30px;
	margin-right: 30px;
}
.img{
	margin-top: 70px;
	margin-right: 20px;
	cursor: pointer;
	display: none;
	float: left;
}
.menu{
	position: relative;
}
.menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.sub-menu1{
	display: none;
	margin: 0px;
	width: 175px;
	position: absolute;
	left: 0;
	background-color: #1faeed;
	border-radius: 10px;
	border: 1px solid white;
}
.sub-menu1 ul li{
	width: 100%;
	margin: 0px;
	margin: 5px;
	padding: 6px;
}
.menu ul li a:hover{
	color: black;
}
.menu ul li:hover>.sub-menu1{
	lett: 10px;
	display: block;
	transition: .3s linear;
} 
@media only screen and (max-width: 560px){
	.right{
		clear: both;
		float: left;
	}
	.body{
		height: 600px;
	}
}
.img1{
	display: none;
}
@media only screen and (max-width: 500px){
.img1{
	display: block;
	float: right;
	margin: 60px;
	clear: both;
}
#menu{
	display: ;
}
.logo{
	display: block;
	clear: both;
}
.nav{
	display: block;
	float: left;
	width: 100%;
	margin-top: 0px;
}
.menu{
	position: relative;
}
.menu ul{
	float: left;
	display: block;
}
.menu ul li{
	padding: 10px;
	margin: 0px;
	margin-left: 20px;
	position: relative;
}
.sub-menu1{
	position: relative;
}
.header{
	position: absolute;
	width: 100%;
}
}